body {
    font-family: sans-serif;
    background-color: rgb(49, 147, 62);
    color: rgb(94, 67, 18);
}

button {
       background-color: rgb(135, 155, 139);
    color: rgb(94, 67, 18);
    text-decoration: none;
    padding: 1vh;
    border-radius: 10px; 
    border: none;
    cursor: pointer;
}

#linkButton {
    background-color: rgb(135, 155, 139);
    color: rgb(94, 67, 18);
    text-decoration: none;
    padding: 1vh;
    border-radius: 10px;
}
